apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}
stringData:
  LDAP_BASE_DN: {{ required "LDAP_BASE_DN required" .Values.LDAP_BASE_DN }}
  LDAP_ADMIN_PASSWORD: {{ required "LDAP_ADMIN_PASSWORD required" .Values.LDAP_ADMIN_PASSWORD }}
  SID: {{ required "SID required" .Values.SID }}
  JWT_SECRET: {{ required "JWT_SECRET required" .Values.JWT_SECRET }}
